{% block title %}{% endblock %}

{% block stylesheets %}

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <style>

    @import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);

    @font-face {
        font-family: 'PT Sans';
        font-style: normal;
        font-weight: 400;
        src: local('PT Sans'), local('PTSans-Regular'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v6/LKf8nhXsWg5ybwEGXk8UBQ.woff) format('woff');
    }

    @font-face {
        font-family: 'PT Sans';
        font-style: normal;
        font-weight: 700;
        src: local('PT Sans Bold'), local('PTSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v6/0XxGQsSc1g4rdRdjJKZrNBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
    }

    html, body {
        background: #ffffff;
    }

    #cssmenu {
        background: #85ccd9;
        margin: 0;
        width: 100%;
        padding: 0;
        line-height: 1;
        display: block;
        position: relative;
        font-family: 'PT Sans', sans-serif;
    }

    #cssmenu ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: block;
    }

    #cssmenu ul:after {
        content: ' ';
        display: block;
        font-size: 0;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    #cssmenu ul li {
        margin: 0;
        padding: 0;
        display: block;
        position: relative;
    }

    #cssmenu ul li a {
        text-decoration: none;
        display: block;
        margin: 5px;
        -webkit-transition: color .2s ease;
        -moz-transition: color .2s ease;
        -ms-transition: color .2s ease;
        -o-transition: color .2s ease;
        transition: color .2s ease;
    }

    #cssmenu ul li ul {
        position: absolute;
        left: -9999px;
        top: auto;
    }

    #cssmenu ul li ul li {
        max-height: 0;
        position: absolute;
        -webkit-transition: max-height 0.4s ease-out;
        -moz-transition: max-height 0.4s ease-out;
        -ms-transition: max-height 0.4s ease-out;
        -o-transition: max-height 0.4s ease-out;
        transition: max-height 0.4s ease-out;
        background: #ffffff;
    }

    #cssmenu ul li ul li.has-sub:after {
        display: block;
        position: absolute;
        content: '';
        height: 10px;
        width: 100%;
        border-radius: 5px;
        background: #000000;
        z-index: 1;
        top: 13px;
        right: 15px;
    }

    #cssmenu ul li ul li.has-sub:before {
        display: block;
        position: absolute;
        content: '';
        height: 0;
        width: 100%;
        border: 3px solid transparent;
        border-left-color: #ffffff;
        z-index: 2;
        top: 15px;
        right: 15px;
    }

    #cssmenu ul li ul li a {
        font-size: 14px;
        font-weight: 400;
        text-transform: none;
        color: #000000;
        letter-spacing: 1px;
        display: block;
        width: 100%;
        padding: 10px 10px 10px 10px;
    }

    #cssmenu ul li ul li:hover > a,
    #cssmenu ul li ul li.active > a {
        color: #4cb6ea;
    }

    #cssmenu ul li ul li:hover:after,
    #cssmenu ul li ul li.active:after {
        background: #4cb6ea;
    }

    #cssmenu ul li ul li:hover > ul {
        left: 170px;
        top: 0;
    }

    #cssmenu ul li ul li:hover > ul > li {
        max-height: 72px;
        position: relative;
    }

    #cssmenu > ul > li {
        float: left;
    }

    #cssmenu > ul > li:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 0;
        top: 0;
        z-index: 0;
        background: #ffffff;
        -webkit-transition: height .2s;
        -moz-transition: height .2s;
        -ms-transition: height .2s;
        -o-transition: height .2s;
        transition: height .2s;
    }

    #cssmenu > ul > li.has-sub > a {
        padding-right: 40px;
    }

    #cssmenu > ul > li.has-sub > a:after {
        display: block;
        content: '';
        background: #ffffff;
        height: 12px;
        width: 12px;
        position: absolute;
        border-radius: 13px;
        right: 14px;
        top: 16px;
    }

    #cssmenu > ul > li.has-sub > a:before {
        display: block;
        content: '';
        border: 4px solid transparent;
        border-top-color: #4cb6ea;
        z-index: 2;
        height: 0;
        width: 0;
        position: absolute;
        right: 16px;
        top: 21px;
    }

    #cssmenu > ul > li > a {
        color: #ffffff;
        padding: 15px 20px;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 14px;
        z-index: 2;
        position: relative;
    }

    #cssmenu > ul > li:hover:after,
    #cssmenu > ul > li.active:after {
        height: 100%;
    }

    #cssmenu > ul > li:hover > a,
    #cssmenu > ul > li.active > a {
        color: #000000;
    }

    #cssmenu > ul > li:hover > a:after,
    #cssmenu > ul > li.active > a:after {
        background: #000000;
    }

    #cssmenu > ul > li:hover > a:before,
    #cssmenu > ul > li.active > a:before {
        border-top-color: #ffffff;
    }

    #cssmenu > ul > li:hover > ul {
        left: 10;
    }

    #cssmenu > ul > li:hover > ul > li {
        max-height: 72px;
        position: relative;
    }

    #cssmenu #menu-button {
        display: none;
    }

    @media all and (max-width: 100%), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 100%), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 100%), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 100%), only screen and (min-device-pixel-ratio: 2) and (max-width: 100%), only screen and (min-resolution: 192dpi) and (max-width: 100%), only screen and (min-resolution: 2dppx) and (max-width: 100%) {
        #cssmenu > ul {
            max-height: 0;
            overflow: hidden;
            -webkit-transition: max-height 0.35s ease-out;
            -moz-transition: max-height 0.35s ease-out;
            -ms-transition: max-height 0.35s ease-out;
            -o-transition: max-height 0.35s ease-out;
            transition: max-height 0.35s ease-out;
        }

        #cssmenu > ul.open {
            max-height: 1000px;
            border-top: 1px solid rgba(110, 110, 110, 0.25);
        }

        #cssmenu ul {
            width: 100%;
        }

        #cssmenu ul > li {
            float: none;
        }

        #cssmenu ul li a {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
            padding: 12px 20px;
        }

        #cssmenu ul > li:after {
            display: none;
        }

        #cssmenu ul li.has-sub > a:after,
        #cssmenu ul li.has-sub > a:before,
        #cssmenu ul li ul li.has-sub:after,
        #cssmenu ul li ul li.has-sub:before {
            display: none;
        }

        #cssmenu ul li ul,
        #cssmenu ul li ul li ul,
        #cssmenu ul li ul li:hover > ul {
            left: 10;
            position: relative;
        }

        #cssmenu ul li ul li,
        #cssmenu ul li:hover > ul > li {
            max-height: 999px;
            position: relative;
            background: none;
        }

        #cssmenu ul li ul li a {
            padding: 8px 20px 8px 35px;
            color: #ffffff;
            width: 100%;
        }

        #cssmenu ul li ul ul li a {
            padding: 8px 20px 8px 50px;
        }

        #cssmenu ul li ul li:hover > a {
            color: #000000;
        }

        #cssmenu #menu-button {
            display: block;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
            padding: 15px 20px;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 14px;
            letter-spacing: 1px;
            color: #ffffff;
            cursor: pointer;
        }

        #cssmenu #menu-button:after {
            display: block;
            content: '';
            position: absolute;
            height: 3px;
            width: 100%;
            border-top: 2px solid #ffffff;
            border-bottom: 2px solid #ffffff;
            right: 20px;
            top: 16px;
        }

        #cssmenu #menu-button:before {
            display: block;
            content: '';
            position: absolute;
            height: 3px;
            width: 100%;
            border-top: 2px solid #ffffff;
            right: 20px;
            top: 26px;
        }
    }

    .deux {
        position: absolute;
        bottom: 0%;
        left: 5%;
        width: 85%;
        height: 80%
    }

    .un {
        position: absolute;
        bottom: 0%;
        left: 8%;
        width: 90%;
        height: 40%
    }

    .trois {
        position: absolute;
        bottom: 10%;
        left: 20%;
        width: 20%;
        height: 50%
    }

    .user {
        position: absolute;
        bottom: 0%;
        left: 90%;
        width: 0%;
        height: 70%
    }


    .six {
        position: absolute;
        bottom: 90%;
        left: 7%;
        width: 90%;
        height: 40%
    }

    .cinq {
        position: absolute;
        bottom: 0%;
        left: 35%;
        width: 50%;
        height: 110%
    }
    table {
        font-family: verdana, arial, sans-serif;
        font-size: 15px;
        color: #333333;

    }

    table.hovertable th {
        background-color: #ffffff;
        border-width: 1px;
        padding: 10px;
        border-style: solid;
        border-color: #000000;

    }

    table.hovertable tr {
        background-color: #ffffff;
    }

    table.hovertable td {
        border-width: 1px;
        padding: 10px;
        border-style: solid;
        border-color: #000000;
    }


    .content {
        min-height: 100%;
        position: relative;
        overflow: auto;
        z-index: 0;
    }


    .top_block {
        width: 100%;
        display: block;
    }


    .block_1 {
        width: 100%;
        height: 130px;
        background-color: #242424;
    }


    </style>

{% endblock %}

{% block menu %}


    <div class="content">
        <div class="top_block block_1">
            <div class="content">
            </div>
        </div>
    </div>


        <div id='cssmenu'>
            <ul>
                <li class='active'><a href='http://analatica'><span class="glyphicon glyphicon-home">Home</span></a></li>
                <li><a href='http://analatica/os'><span class="glyphicon glyphicon-stats">Operating System</span></a></li>
                <li><a href='http://analatica/device'><span  class="glyphicon glyphicon-stats">Device</span></a></li>
                <li class='last'><a href='http://analatica/navigateur'><span  class="glyphicon glyphicon-stats">Browsers</span></a></li>
                <li class='has-sub' ><a href='#'><span class="glyphicon glyphicon-user">User</span></a>
                    <ul>
                        <li><a href='http://analatica/profile'><span>profile</span></a></li>
                        <li><a href='http://analatica/profile/change-password'><span class="glyphicon glyphicon-cog">change password</span></a></li>
                        <li><a href='http://analatica/profile/#'><span>edit profile</span></a></li>
                        <li><a href='http://analatica/logout'><span class="glyphicon glyphicon-off">logout</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>

{% endblock %}


{% block body %}

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    {% javascripts 'bundles/timetracker/Highcharts/highcharts.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts 'bundles/timetracker/Highcharts/modules/exporting.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block other %}{% endblock %}

