{% block title %}{% endblock %}

{% block stylesheets %}

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <style>
        #navigation {
            /*conteneur du menu*/
            padding: 0;
            clear: both;
            width: 100%;
            height: 53px;
            background: steelblue;
            border: solid 1px steelblue;
            top: -5px;
        }

        ul.nav-main li {
            /*règles générales des items de liste */
            list-style: none;
            margin: 0;
            border-right: solid 1px #000000;
        }

        ul.nav-main {
            /*règles des items principaux*/
            position: relative;
            z-index: 597;
        }

        ul.nav-main li:hover > ul {
            /*apparition des sous-listes au survol de l'item principal ul*/
            visibility: visible;
        }

        ul.nav-main li:hover {
            /*design des items de liste au survol*/
            position: relative;
            z-index: 599;
            cursor: pointer;
            background: lightsteelblue;
        }

        ul.nav-main li {
            /*positionnement, dimensions, couleurs et textes des items de liste*/
            float: left;
            display: block;
            height: 51px;
            color: lightsteelblue;
            font: 14px Arial, Helvetica, sans-serif;
        }

        ul.nav-main li a {
            /*positionnement, dimensions, couleurs et textes des items de liste intégrant une redirection url*/
            display: block;
            padding: 16px 16px 0 16px;
            height: 35px;
            color: #000000;
            font: 14px Arial, Helvetica, sans-serif;
            text-decoration: none;
        }

        ul.nav-main li a:hover {
            /* couleurs des items de liste au survol*/
            color: dodgerblue;
        }

        ul.nav-main *.list {
            /*décalage entre chaque items principaux*/
            padding-right: 22px;
        }

        ul.nav-sub {
            /*règles de la liste ul de sous menus*/
            visibility: hidden;
            position: absolute;
            padding: 10px;
            top: 51px;
            left: -2px;
            z-index: 598;
            background: lightsteelblue;
            border-right: 1px solid #000;
            border-bottom: 1px solid #000;
            border-left: 1px solid #000;
        }

        ul.nav-sub li {
            /* regles des items de liste sous menu */
            list-style: none;
            display: block;
            padding: 0;
            height: 32px;
            float: none;
            width: 145px;
            border-bottom: 1px solid #5a5a5a;
            border-right: none;
            background: none;
        }

        ul.nav-sub li a {
            /* règles des items de liste de sous menus intégrant une redirection url */
            list-style: none;
            display: block;
            padding: 6px 5px 6px 5px;
            height: 20px;
            float: none;
            width: 145px;
            background: none;
            font: 12px Arial, Helvetica, sans-serif;
        }
    </style>

    <style>

        .deux {
            position: absolute;
            bottom: 0%;
            left: 5%;
            width: 85%;
            height: 80%
        }

        .un {
            position: absolute;
            bottom: 0%;
            left: 8%;
            width: 90%;
            height: 40%
        }

        .trois {
            position: absolute;
            bottom: 10%;
            left: 20%;
            width: 20%;
            height: 50%
        }

        .user {
            position: absolute;
            bottom: 0%;
            left: 90%;
            width: 0%;
            height: 70%
        }

        .six {
            position: absolute;
            bottom: 90%;
            left: 7%;
            width: 90%;
            height: 40%
        }

        .cinq {
            position: absolute;
            bottom: 0%;
            left: 35%;
            width: 50%;
            height: 110%
        }

        table {
            font-family: verdana, arial, sans-serif;
            font-size: 17px;
            border-width: 3px;

        }

        table.hovertable th {
            background-color: #ffffff;
            border-width: 3px;
            padding: 10px;
            border-style: inherit;
            border-color: #000000;

        }

        table.hovertable tr {
            background-color: #ffffff;
            border-width: 3px;

        }

        table.hovertable td {
            border-width: 3px;
            padding: 10px;
            border-style: inherit;
            border-color: #000000;
            text-align: center;

        }

        .img {
            position: absolute;
            bottom: 0%;
            left: 70%;
            width: 30%;
            height: 105%
        }

        #header {
            box-shadow: 0 0 3px 0 #ccc inset;
            height: 130px;
            margin: 0 auto 5px;
            overflow: hidden;
            padding: 0;
            text-align: center;
            min-width: 1080px;
            background: white;
        }


    </style>

{% endblock %}

{% block menu %}



    <div id="header">
        <div class="img"></a>
            {% image "bundles/timetracker/image/images.jpg" %}
            <img src="{{ asset_url }}"/>
            {% endimage %}
            <div id="top_links">

            </div>
        </div>

    </div>


    <ul id="navigation" class="nav-main">
        <li><a href='http://analatica'><span class="glyphicon glyphicon-home">Home</span></a></li>

        <li><a href='#'><span class="glyphicon glyphicon-stats">Analyze</span></a>
            <ul class="nav-sub">
                <li><a href='http://analatica/showOS'><span class="glyphicon glyphicon-eye-open">Operating System</span></a>
                </li>
                <li><a href='http://analatica/showDevice'><span class="glyphicon glyphicon-eye-open">Device</span></a>
                </li>
                <li class='last'><a href='http://analatica/showBrowsers'><span class="glyphicon glyphicon-eye-open">Browsers</span></a>
                </li>
                <li class='last'><a href='http://analatica/useragent'><span class="glyphicon glyphicon-eye-open">User Agent</span></a>
                </li>
            </ul>
        </li>

        <li><a href='#'><span class="glyphicon glyphicon-usd">Forfait</span></a>
            <ul class="nav-sub">
                <li><a href='http://analatica/showForfait'><span class="glyphicon glyphicon-usd">fixed price</span></a>
                <li><a href='http://analatica/choiceforfait'><span class="glyphicon glyphicon-usd"> choice</span></a>
                </li>
            </ul>
        </li>

        <li><a href='http://analatica/api/doc/'><span class="glyphicon glyphicon-transfer">Api</span></a></li>


        <ul style=" position: absolute;left: 80%;height: 90%;">
            <li class="list"><a href='#'><span class="glyphicon glyphicon-user">{{ app.user.username }}</span></a>
                <ul class="nav-sub">
                    <li><a href='http://analatica/profile'><span class="glyphicon glyphicon-eye-open">profile</span></a>
                    </li>
                    <li><a href='http://analatica/profile/change-password'><span class="glyphicon glyphicon-cog">change password</span></a>
                    </li>
                    <li><a href='http://analatica/profile/edit'><span
                                    class="glyphicon glyphicon-edit">edit profile</span></a></li>
                </ul>
            </li>
            <li><a href='http://analatica/logout'><span class="glyphicon glyphicon-off">logout</span></a></li>
        </ul>
    </ul>

{% endblock %}

{% block body %}


{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    {% javascripts 'bundles/timetracker/Highcharts/highcharts.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts 'bundles/timetracker/Highcharts/modules/exporting.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block other %}{% endblock %}

