{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

    <style>


        html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
            margin: 0;
            padding: 0;
            border: 0;
            outline: 0;
            font-size: 100%;
            vertical-align: baseline;
            background: transparent;
        }

        body {
            font-size: 90%;
            font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: 400;
            color: #8c8a8b;
            text-align: center;
            line-height: 1.7em;
        }

        a:link, a:visited, strong {
            color: #e15d46;
        }

        a:hover {
            text-decoration: none;
        }

        h1 {
            font-size: 7em;
            font-family: 'Engagement', cursive;
            line-height: 1.89em;
            text-shadow: 1px 1px 0px #fff, 2px 2px 0px rgba(0, 0, 0, 0.1), 3px 3px 0px #fff, 4px 4px 0px rgba(0, 0, 0, 0.1), 5px 5px 0px #fff;
        }

        form {
            width: 250px;
            margin: 20px auto;
            text-align: left;
        }

        p {
            padding: 36px 20px;
            border-top: 1px dotted #c7c7c7;
        }

        label {
            float: left;
            width: 300px;

        }

        input[type=text],
        input[type=password],
        input[type=email],
        textarea {
            border: 1px solid #c7c7c7;
            outline: 5px solid rgba(0, 0, 0, 0.1);
            padding: 4px 10px;
        }


    </style>

    <link href='http://fonts.googleapis.com/css?family=Engagement' rel='stylesheet' type='text/css'>
    <script type="text/javascript" charset="utf-8">
    </script>

    <article>
        <h1>Edit Profile</h1>
        <ul>
            <form style="line-height:2.7em" action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }}
                  method="POST" class="fos_user_profile_edit">
                {{ form_widget(form) }}
                <div class="left">
                    <input type="submit" value="{{ 'profile.edit.submit'|trans }}"/>
                </div>
            </form>
        </ul>
    </article>
    <footer>
        <p>A little freebie made with <strong>♥</strong> by the nice folks over at </p>
    </footer>

{% endblock %}
