{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

    <style>

        .left {
            float: left;
            padding: 50px;
        }

        form {
            width: 200px;
            margin: 0px auto;
            text-align: left;
        }

        p {
            padding: 90px 0px;
            border-top: 1px, dotted #c7c7c7;
        }

        label {
            float: left;
            width: 300px;
        }

        input[type=text],
        input[type=password],
        input[type=email],
        textarea {
            border: 1px solid #c7c7c7;
            outline: 5px solid rgba(0, 0, 0, 0.1);
            padding: 4px 15px;
        }

    </style>

    <link href='http://fonts.googleapis.com/css?family=Engagement' rel='stylesheet' type='text/css'>
    <script type="text/javascript" charset="utf-8">
    </script>

    <article>
        <h1>Change PassWord</h1>


        <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST"
              class="fos_user_change_password">
            {{ form_widget(form) }}
            <div class="left">
                <input type="submit" value="{{ 'change'|trans }}"/>
            </div>
        </form>


    </article>
    <footer>
    </footer>
{% endblock %}